/* 
    Created on : 21/02/2023, 20:50:12 PM
    Author     : David Flores
*/
:root {
  --primary: #0c132d !important;
  --white: #ffffff !important;
  /* --primary-trans: rgba(30,105,166,.6) !important;
    --blue: #0c4c91 !important;
    --red: #ef6461;
    --dark: #212529;
    --fondo-card: #ecf5fd;
    --main-bg-color: #1e69a6;
    --main-bg-color-light: #528bb9;
    --second-bg-color: #2379bf;
    --second-bg-color-light: #3391dd;
    --third-bg-color: #474444; */
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.bg-uady {
  background-color: var(--primary);
}

.navbar-nav .nav-item a {
  font-size: 20px;
  cursor: pointer;
}

.congreso-mail {
  font-size: 0.75rem;
}

.slider-title {
  position: absolute;
  color: #fff;
  font-size: 6rem;
  font-weight: 900;
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.73);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Swiper  */

.congreso-fechas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 700px;
  height: 525px;
  background-image: url("../images/brand/congreso-fechas.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
/* Swiper  */

/*about-us*/

.section-padding {
  padding: 50px 0;
}

.nosotros_texto {
  padding-top: 2rem;
}

.nosotros_texto h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.nosotros_texto p {
  font-size: 1.8rem;
  font-weight: 500;
}

.nosotros-congreso {
  font-size: 2.3rem;
  font-weight: bold;
}

.nosotros_texto {
  position: relative;
  padding-left: 1.5rem;
  color: var(--primary);
}

.nosotros-texto-fondo {
  position: absolute;
  top: 8rem;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../images/brand/logo-uady.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.3;
  width: 400px;
  height: 680px;
}

.section-header {
  padding-bottom: 30px;
}
.section-header h2 {
  text-transform: uppercase;
}

/* About us  */
.item-text h4 {
  padding-top: 1rem;
}
.about-img img {
  width: 50vw;
}
/*about-us*/


/* welcome */

#welcome {
  background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/welcome/image05.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.welcome p {
  font-size: 1.6rem;
  font-weight: 400;
}

.welcome hr {
  border-top: 2px solid var(--white);
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

/* Welcome  */


/* inscripcion  */

#pdf-inscripcion, #pdf-convocatoria {
  width: 100%;
  height: 70vh;
}

.inscripcionModal img {
  width: 100%;
  overflow: scroll;
}

/* inscripcion  */

.universidades h3{
  font-weight: 600;
}

/* carteles*/

#carteles {
  overflow: hidden;
}

.carteles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 400px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.card-body h4 {
  font-size: 18px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

.autores {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* carteles*/

/* Convocatoria  */

.pdfobject-container { height: 45rem; width: 100%; border: 1rem solid rgba(0,0,0,.1); }

.modal-dialog .modal-content {
  /* background-color: var(--primary); */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    138deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 88%
  );
}

.convocatoria {
  padding: 3rem 2rem;
}

.convocatoria h4 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
  color: var(--white);
}

.convocatoria p,
.convocatoria ol,
.convocatoria li {
  color: var(--white);
  font-family: "Nunito", sans-serif;
}

.convocatoria-background {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -270px;
  opacity: 0.5;
}

.convocatoria .close {
  position: absolute;
  top: 15px;
  right: 20px;
  color: var(--white);
}

.convocatoria-correo {
  color: white;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* Convocatoria  */

/* universidades  */
.universidades .container {
  padding-top: 3rem;
  margin-bottom: 4rem;
  overflow: hidden;
}
.container .slider {
  padding-top: 3rem;
  padding-bottom: 3rem;
  animation: slidein 30s linear infinite;
  white-space: nowrap;
}
.container .slider .logos {
  width: 100%;
  display: inline-block;
  margin: 0px 0;
}
.container .slider .logos .fab {
  width: calc(100% / 5);
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

.logos img {
  height: 150px;
  padding: 0 50px;
}

.logos .separador {
  width: 50px !important;
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* universidades  */

/* footer  */
.footer-14398 {
  padding: 7rem 0;
  background: var(--primary);
  color: var(--white);
}
.footer-14398 .footer-site-logo {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
  display: block;
}
.footer-14398 h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer-14398 .links li {
  margin-bottom: 10px;
}
.footer-14398 .links li a {
  color: #999;
}
.footer-14398 .links li a:hover {
  color: #fff;
}
.footer-14398 .link-menu li {
  display: inline-block;
}
.footer-14398 .link-menu li a {
  color: #fff;
  display: inline-block;
  padding: 10px;
}
.footer-14398 .link-menu.nav-left li:first-child a {
  padding-left: 0;
}
.footer-14398 .link-menu.nav-right li:last-child a {
  padding-left: 0;
}
.footer-14398 .social li {
  display: inline-block;
}
.footer-14398 .social li a {
  display: inline-block;
  padding: 10px;
  color: #ccc;
}
.footer-14398 .social li:last-child a {
  padding-right: 0;
}
.footer-14398 .line {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
/* footer  */

/* / Tablets en horizonal y escritorios normales */
/* ------------------------------------------------------------------------- / */
@media (max-width: 994px) {

  /* nosotros */

  .nosotros-texto-fondo {
    width: 300px;
    height: 500px;
    top: 6rem;
  }
  /* nosotros */

  /* Welcome  */
  .welcome h3 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .welcome p {
    font-size: 1rem;
    font-weight: 400;
  }
  /* Welcome  */

  /* convocatoria  */
  .convocatoria h4 {
    font-size: 1.2rem;
  }

  .convocatoria-background {
    width: 75%;
    position: absolute;
    right: 0;
    bottom: -950px;
    opacity: 0.5;
  }
  /* convocatoria  */

  /* footer  */
  .footer-site-logo img {
    height: 50px;
  }
  /* footer  */
}

@media (min-width: 768px) and (max-width: 1199px) {
  .nosotros_texto h3 {
    font-size: 2.4rem;
    font-weight: 700;
  }

  .nosotros_texto p {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .nosotros-congreso {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .nosotros_texto {
    padding-left: 1.5rem;
  }

  .nosotros-texto-fondo {
    top: 6rem;
    width: 200px;
    height: 340px;
  }

  /* Welcome  */

  .welcome h3 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .welcome p {
    font-size: 1.3rem;
    font-weight: 400;
  }

  /* Welcome  */

  /* convocatoria  */
  .convocatoria h4 {
    font-size: 1.4rem;
  }

  .convocatoria-background {
    width: 60%;
    position: absolute;
    right: 0;
    bottom: -550px;
    opacity: 0.5;
  }
  /* convocatoria  */
}

/* / Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- / */
@media (max-width: 767px) {

  .congreso-fechas {
    width: 400px;
    height: 300px;
  }
  
  .slider-title {
    font-size: 5rem;
  }

  .nosotros_texto h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .nosotros_texto p {
    font-size: 1rem;
    font-weight: 500;
  }

  .nosotros-congreso {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .nosotros_texto {
    padding-left: 1rem;
    color: var(--primary);
  }

  .nosotros-texto-fondo {
    top: 4rem;
    width: 170px;
    height: 290px;
  }

  /* Welcome  */
  .welcome h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  
  .welcome p {
    font-size: 1.2rem;
    font-weight: 400;
  }
  /* Welcome  */

  /* convocatoria  */
  .convocatoria h4 {
    font-size: 1.2rem;
  }

  .convocatoria-background {
    width: 60%;
    position: absolute;
    right: 0;
    bottom: -750px;
    opacity: 0.5;
  }
  /* convocatoria  */
}


@media (min-width: 481px) and (max-width: 509px) {

  /* Slider  */
  .congreso-fechas {
    width: 250px;
    height: 150px;
  }

  /* Nosotros  */
  .nosotros_texto h3 {
    font-size: 2rem;
    font-weight: 700;
  }

  .nosotros-texto-fondo {
    top: 7rem;
    width: 140px;
    height: 240px;
  }

  /* Welcome  */
  .welcome h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .welcome p {
    font-size: 0.8rem;
    font-weight: 400;
  }
  /* Welcome  */

  /* convocatoria  */

  .convocatoria-background {
    width: 60%;
    position: absolute;
    right: 0;
    bottom: -1050px;
    opacity: 0.5;
  }
  /* convocatoria  */
}

/* / Móviles en vertical
   ------------------------------------------------------------------------- */
@media (min-width: 300px) and (max-width: 480px) {
  /* imagen logo */
  .imagen-logo {
    height: 50px;
  }
  /* imagen logo */

  /* Slider  */
  .congreso-fechas {
    width: 250px;
    height: 150px;
  }

  .slider-title {
    font-size: 3rem;
  }

  /* Nosotros  */

  .nosotros-congreso {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .nosotros_texto {
    padding-top: 1rem;
    padding-left: 0.5rem;
    color: var(--primary);
  }

  .nosotros-texto-fondo {
    top: 7rem;
    width: 100px;
    height: 160px;
    overflow: hidden;
  }

  .nosotros_texto p {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .nosotros_texto h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  /* Nosotros  */

  /* welcome  */

  .welcome p {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .welcome h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  /* welcome  */

  
  /* convocatoria  */

  .convocatoria h4 {
    font-size: 1rem;
  }

  .convocatoria p,
  .convocatoria ol,
  .convocatoria li {
    font-size: 0.9rem;
  }

  .convocatoria-background {
    width: 70%;
    position: absolute;
    right: 0;
    bottom: -1200px;
    opacity: 0.5;
  }
  /* convocatoria  */

  /* colaboradores */
  .logos img {
    height: 90px;
    padding: 0 20px;
  }
  /* colaboradores */

  /* footer  */
  .footer-site-logo img {
    height: 60px;
  }
  /* footer  */
}
